Repository stratisproject/FederatedSidechains, pull requests merged in 2018-11, with the labels that each got.

#154 Removed string parameter from constructor.
  src/Stratis.FederatedPeg.Features.FederationGateway/SourceChain/RestBlockTipSender.cs
  src/Stratis.FederatedPeg.Features.FederationGateway/SourceChain/RestMaturedBlockSender.cs
  src/Stratis.FederatedPeg.Features.FederationGateway/SourceChain/RestSenderBase.cs
Labels: bug, cross-chain-sessions

#118 Template transaction database
  src/Stratis.FederatedPeg.Features.FederationGateway/TemplateTransaction.cs
  src/Stratis.FederatedPeg.Features.FederationGateway/TemplateTransactionStore.cs
  src/Stratis.FederatedPeg.Tests/Stratis.FederatedPeg.Tests.csproj
  src/Stratis.FederationGatewayD/Program.cs
Labels: Size M: 3-5 days, cross-chain-sessions

#185 Add `Suspended` status to store
  src/Stratis.FederatedPeg.Features.FederationGateway/Interfaces/ICrossChainTransfer.cs
  src/Stratis.FederatedPeg.Features.FederationGateway/Interfaces/ICrossChainTransferStore.cs
  src/Stratis.FederatedPeg.Features.FederationGateway/Interfaces/IFederationWalletManager.cs
  src/Stratis.FederatedPeg.Features.FederationGateway/TargetChain/CrossChainTransfer.cs
  src/Stratis.FederatedPeg.Features.FederationGateway/TargetChain/CrossChainTransferStore.cs
  src/Stratis.FederatedPeg.Features.FederationGateway/Wallet/FederationWalletManager.cs
  src/Stratis.FederatedPeg.Tests/CrossChainTransferStoreTests.cs
Labels: cross-chain-sessions
